<%- partial("_parcials/_head") %>
<body>
 <div id="top" class="grid-full">
    Powertoweb   |   Powertocss   |   Github   |   Facebook   |   Chat
 </div>
 <header id="header" class="header-powertocss text-white">
   <div class="grid-1200">
     <div class="row">
        <div class="column4">
          <h1 class="logo left">
            <a href="./">
             <img src="img/logo.png" alt="PowerToCSS">
           </a>
          </h1>
        </div>
       <div class="column8 end">
         <nav>
            <ul class="nav nav-custom inline right margin8_0">
              <label class="toggle-mobile-menu" for="toggle-mobile-menu">&#9776; MENU</label>
              <input id="toggle-mobile-menu" type="checkbox"/>
              <li><a href="./">Home</a></li>
              <li><a href="./docs">Docs</a></li>
              <li><a href="./grid">Demo Grid</a></li>
              <li><a href="./starter-kit">Starter Kit</a></li>
              <li><a class="button border-radius4" href="https://github.com/powertoweb/powertocss/fork" target="_blank">Fork <span class="octicon octicon-mark-github"></span></a></li>
           </ul>
         </nav>
       </div>
      </div>
   </div>
   <% if(current.source == 'index') { %>
    <%- partial("_parcials/_header-home") %>
   <% } %>
 </header>


  <% if(current.source == 'index') { %>
  <div class="grid-1200">
    <div class="row">
      <%- yield %>
    </div>
  </div>
  <% } else if(current.source == 'grid') { %>
  <%- yield %>
  <% } else { %>
  <div class="grid-1200">
      <div class="row">
        <div class="column3"><div class="side-menu"><%- partial("_parcials/_side-menu-docs") %></div></div>
        <div class="column9"><%- yield %></div>
      </div>
  </div>
  <% } %>


<%- partial("_parcials/_footer") %>
</body>
</html>
